:root {
  color-scheme: light;

  /* Colors, from https://www.radix-ui.com/colors */
  --color-900: #202020;
  --color-700: #646464;
  --color-500: #cecece;
  --color-300: #f0f0f0;
  --color-100: #fcfcfc;

  /* Typography */
  --font-body: "Noto Sans", sans-serif;
  --font-mono: "Fira Mono", monospace;
  --font-size-main: clamp(1rem, 0.9875rem + 0.0625vw, 1.0625rem);
  --font-size-h1: clamp(1.75rem, 1.56rem + 0.95vw, 2.7rem);
  --font-size-h2: clamp(1.5rem, 1.35rem + 0.75vw, 2.25rem);
  --font-size-h3: clamp(1.25rem, 1.15rem + 0.5vw, 1.75rem);
  --font-size-h4: clamp(1.125rem, 1.1rem + 0.125vw, 1.25rem);
  --font-size-h5: clamp(1.0625rem, 1.045rem + 0.0875vw, 1.15rem);
  --font-weight-bold: 600;
  --font-weight-normal: 400;
  --font-weight-light: 400;

  /* Layout */
  --content-width: 720px;

  /* Scrollbar */
  overflow-y: scroll;
  scrollbar-color: var(--color-500) transparent;
  /* scrollbar-width: thin; */
}

:root[data-theme="dark"] {
  color-scheme: dark;

  --color-900: #eeeeee;
  --color-700: #b4b4b4;
  --color-500: #484848;
  --color-300: #2a2a2a;
  --color-100: #191919;
}

::-webkit-scrollbar-track {
  background: var(--color-100);
}
::-webkit-scrollbar-thumb {
  background-color: var(--color-500);
}
::-webkit-scrollbar-thumb:hover {
  background-color: var(--color-700);
}

body {
  font-family: var(--font-body);
  font-weight: var(--font-weight-light);
  margin: 0;
  padding: 0;
  text-align: left;
  background: var(--color-100);
  word-wrap: break-word;
  overflow-wrap: break-word;
  color: var(--color-900);
  font-size: var(--font-size-main);
  line-height: 1.8;
  -webkit-font-smoothing: antialiased;
}

main {
  width: var(--content-width);
  max-width: calc(100% - 2em);
  margin: auto;
  padding: 3em 1em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 3.75rem 0 1.2rem 0;
  color: var(--color-900);
  font-weight: var(--font-weight-bold);
  line-height: 1.2;
}
h1 {
  font-size: var(--font-size-h1);
}
h2 {
  font-size: var(--font-size-h2);
}
h3 {
  font-size: var(--font-size-h3);
}
h4 {
  font-size: var(--font-size-h4);
}
h5 {
  font-size: var(--font-size-h5);
}
h6 {
  font-size: var(--font-size-main);
  /* font-style: italic; */
}

strong,
b {
  font-weight: var(--font-weight-bold);
}

a {
  color: var(--color-900);
}
a:hover {
  color: var(--color-700);
}

p {
  margin-bottom: 1em;
}
.prose p {
  margin-bottom: 1.5em;
}

textarea {
  width: 100%;
  font-size: 16px;
}
input {
  font-size: 16px;
}
table {
  width: 100%;
  border-collapse: collapse;
}
th,
td {
  border: 1px solid var(--color-500);
  padding: 0.5em 0.75em;
}
img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}
code {
  padding: 2px 6px;
  border-radius: 4px;
  background-color: var(--color-300);
  font-family: var(--font-mono);
  font-size: 0.85em;
}
pre > code {
  all: unset;
}
.expressive-code {
  margin: 1.5em 0;
}
blockquote {
  border-left: 4px solid var(--color-500);
  padding: 0 0 0 20px;
  margin: 0;
  font-size: 0.9em;
  color: var(--color-700);
}
hr {
  border: none;
  border-top: 1px solid var(--color-500);
}

figure {
  margin: 1.5em 0;
}
figcaption {
  font-size: 0.9em;
  color: var(--color-700);
  text-align: center;
}
/* rehype-autolink-headings */
.icon-link::before {
  content: "#";
  margin-left: 0.25em;
  display: inline-block;
  color: var(--color-500);
  text-decoration: none;
  opacity: 0;
  transition: opacity 0.2s;
}
h1:hover .icon-link::before,
h2:hover .icon-link::before,
h3:hover .icon-link::before,
h4:hover .icon-link::before,
h5:hover .icon-link::before,
h6:hover .icon-link::before {
  opacity: 1;
}

@media (max-width: 768px) {
  main {
    padding: 1em;
  }
}

.sr-only {
  border: 0;
  padding: 0;
  margin: 0;
  /* biome-ignore lint/complexity/noImportantStyles: for accessibility */
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  white-space: nowrap;
}
