---
import { getCollection, render } from "astro:content";
import "@/styles/post.css";
import { _t } from "@/config";
import BaseLayout from "@/layouts/BaseLayout.astro";

const [about] = await getCollection("about");
const { Content } = await render(about);
---

<BaseLayout title={_t.about.title} description={_t.about.desc}>
  <main id="main-content">
    <section>
      <div class="title">
        <h1>{_t.about.title}</h1>
      </div>
      <div class="main-content" data-pagefind-body>
        <Content />
      </div>
    </section>
  </main>
</BaseLayout>
