---
import SearchComponent from "astro-pagefind/components/Search";
import { _t } from "@/i18n/lang";
import BaseLayout from "@/layouts/BaseLayout.astro";
---

<BaseLayout title={_t.search.title} description={_t.search.desc}>
  <main>
    <SearchComponent id="search" className="pagefind-ui" uiOptions={{ showImages: false }} />
  </main>
</BaseLayout>
