---
import { _t, SITE, SOCIALS } from "@/config";

const today = new Date();
---

<footer>
  <span
    >&copy;&nbsp;{today.getFullYear()}&nbsp;<a href="/about">{SITE.author}</a>. All rights reserved.</span
  >
  <div class="social-links">
    {
      SOCIALS.map((social, i) => (
        <>
          {i > 0 && <span class="separator">·</span>}
          <a href={social.href} target="_blank" rel="noopener noreferrer">
            {social.title}
          </a>
        </>
      ))
    }
  </div>
</footer>

<style>
  @import "@/styles/breakpoints.css";

  footer {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5em 2.5em;
    color: var(--color-700);
    font-size: var(--font-size-xs);
    font-weight: var(--font-weight-light);
  }
  @media (--bp-md) {
    footer {
      flex-direction: row;
    }
  }
  footer a {
    color: var(--color-700);
    text-decoration: none;
  }
  footer a:hover {
    color: var(--color-900);
    text-decoration: underline;
  }
  .social-links {
    display: flex;
    gap: 1em;
  }
</style>
