---
import IconGitHub from "../assets/icons/brand-github.svg";
import IconYouTube from "../assets/icons/brand-youtube.svg";
import IconRss from "../assets/icons/rss.svg";
import { SITE } from "../consts";

const today = new Date();
---

<footer>
  &copy;&nbsp;{today.getFullYear()}&nbsp;{SITE.author}. All rights reserved.
  <div class="social-links">
    <a href="https://www.youtube.com/" target="_blank">
      <span class="sr-only">YouTube</span>
      <IconYouTube />
    </a>
    <a href="https://github.com/withastro/astro" target="_blank">
      <span class="sr-only">GitHub</span>
      <IconGitHub />
    </a>
    <a href="/rss.xml">
      <span class="sr-only">Subscribe to RSS feed</span>
      <IconRss />
    </a>
  </div>
</footer>
<style>
  footer {
    padding: 1em 1em 6em 1em;
    color: var(--text-muted);
    text-align: center;
    font-size: 0.9em;
    font-weight: 300;
  }
  .social-links {
    display: flex;
    justify-content: center;
    gap: 1em;
    margin-top: 1em;
  }
  .social-links a {
    text-decoration: none;
    color: var(--text);
  }
  .social-links a:hover {
    color: var(--text);
  }
</style>
