---
import IconSearch from "@/assets/icons/search.svg";
import HeaderLink from "@/components/HeaderLink.astro";
import ThemeToggle from "@/components/ThemeToggle.astro";
import { _t, SITE } from "@/config";
---

<header>
  <nav aria-label="Main navigation">
    <span class="site-title"><a href="/">{SITE.title}</a></span>
    <div class="internal-links">
      <HeaderLink href="/posts">{_t.posts.title}</HeaderLink>
      <HeaderLink href="/about">{_t.about.title}</HeaderLink>
      <HeaderLink href="/search" class="header-icon-link" aria-label={_t.search.title}
        ><IconSearch /></HeaderLink
      >
      <ThemeToggle />
    </div>
  </nav>
</header>
<style>
  @import "@/styles/breakpoints.css";

  header {
    margin: 0;
    padding: 0 1em;
    border: none;
    border-bottom: 1px solid var(--color-500);
    font-weight: var(--font-weight-light);
  }
  @media (--bp-md) {
    header {
      padding: 0 3em;
    }
  }
  .site-title {
    margin: 0;
    font-size: 1em;
    font-weight: var(--font-weight-bold);
  }
  .site-title a,
  .site-title a.active {
    text-decoration: none;
  }
  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .internal-links {
    display: flex;
    align-items: center;
  }
  nav a {
    padding: 1em 0.5em;
    color: var(--color-900);
    border-bottom: 2px solid transparent;
    text-decoration: none;
  }
  nav a.active {
    text-decoration: none;
    border-bottom-color: var(--color-900);
  }
  :global(nav a.header-icon-link) {
    display: flex;
    align-items: center;
  }
</style>
