---
import IconSearch from "@/assets/icons/search.svg";
import HeaderLink from "@/components/HeaderLink.astro";
import ThemeToggle from "@/components/ThemeToggle.astro";
import { SITE } from "@/consts";
import { _t } from "@/i18n/lang";
---

<header>
  <nav aria-label="Main navigation">
    <span class="site-title"><a href="/">{SITE.title}</a></span>
    <div class="internal-links">
      <HeaderLink href="/posts">{_t.posts.title}</HeaderLink>
      <HeaderLink href="/about">{_t.about.title}</HeaderLink>
      <HeaderLink href="/about" class="icon-link-header"><IconSearch /></HeaderLink>
      <ThemeToggle />
    </div>
  </nav>
</header>
<style>
  header {
    margin: 0;
    padding: 0 3em;
    border: none;
    border-bottom: 1px solid var(--border);
    font-weight: 300;
  }
  .site-title {
    margin: 0;
    font-size: 1em;
    font-weight: 600;
  }

  .site-title a,
  .site-title a.active {
    text-decoration: none;
  }
  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .internal-links {
    display: flex;
    align-items: center;
  }
  nav a {
    padding: 1em 0.5em;
    color: var(--text);
    border-bottom: 2px solid transparent;
    text-decoration: none;
  }
  nav a.active {
    text-decoration: none;
    border-bottom-color: var(--text);
  }
  :global(.icon-link-header) {
    display: flex !important;
    align-items: center;
  }
  @media (max-width: 768px) {
    header {
      padding: 0 1em;
    }
  }
</style>
