---
import FormattedDate from "@/components/FormattedDate.astro";

interface Props {
  id: string;
  title: string;
  description?: string;
  date: Date;
  updated?: Date;
  // tags?: string[];
  // category?: string[];
}

const { id, title, description, date, updated } = Astro.props;
---

<a href={`/posts/${id}`} data-astro-prefetch>
  <div class="card">
    <h2>{title}</h2>
    {description && <p class="desc">{description}</p>}
    <p class="date">
      <FormattedDate date={updated ?? date} />
    </p>
  </div>
</a>

<style>
  .card {
    padding-bottom: 1.5rem;
  }
  a {
    text-decoration: none;
  }
  h2 {
    margin: 0 0 0.5rem 0;
    font-size: var(--font-size-h4);
  }
  p {
    margin: 0.125rem 0 0 0;
  }
  .desc {
    color: var(--color-700);
    font-size: var(--font-size-body);
  }
  .date {
    color: var(--color-700);
    font-size: var(--font-size-small);
  }
</style>
