---
// https://disqus.com/admin/universalcode/

import { SITE } from "@/consts";

export interface Props {
  url: string; // The canonical URL
  identifier: string; // A unique identifier
}

const { url, identifier } = Astro.props;
const disqusShortname = SITE.disqusShortname;
---

<div id="disqus_thread"></div>
<script is:inline define:vars={{ url, identifier, disqusShortname }}>
  (function () {
    var disqus_config = function () {
      this.page.url = url;
      this.page.identifier = identifier;
    };

    function loadDisqus() {
      var d = document,
        s = d.createElement("script");
      s.src = "https://" + disqusShortname + ".disqus.com/embed.js";
      s.setAttribute("data-timestamp", String(+new Date()));
      (d.head || d.body).appendChild(s);
    }

    function initDisqus() {
      var el = document.getElementById("disqus_thread");
      if (!el) return;
      var observer = new IntersectionObserver(
        function (entries) {
          if (entries[0].isIntersecting) {
            loadDisqus();
            observer.disconnect();
          }
        },
        { rootMargin: "200px" },
      );
      observer.observe(el);
    }

    initDisqus();
    document.addEventListener("astro:page-load", initDisqus);
  })();
</script>
<noscript
  >Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript"
    >comments powered by Disqus.</a
  ></noscript
>
