---
import "@/styles/post.css";
import { _t } from "@/i18n/lang";
import BaseLayout from "@/layouts/BaseLayout.astro";

export interface Props {
  frontmatter: {
    title?: string;
    description?: string;
  };
}

const { frontmatter } = Astro.props;
---

<BaseLayout
  title={frontmatter.title || _t.about.title}
  description={frontmatter.description || _t.about.desc}
>
  <main id="main-content">
    <section>
      <div class="title">
        <h1>{frontmatter.title || _t.about.title}</h1>
      </div>
      <div class="main-content" data-pagefind-body>
        <slot />
      </div>
    </section>
  </main>
</BaseLayout>
