---
import BaseLayout from "../layouts/BaseLayout.astro";
import { _t } from "../i18n/lang";

export interface Props {
  frontmatter: {
    title?: string;
    description?: string;
  };
}

const { frontmatter } = Astro.props;
---

<BaseLayout
  title={frontmatter.title || _t.about.title}
  description={frontmatter.description || _t.about.desc}
>
  <section>
    <h1>{frontmatter.title || _t.about.title}</h1>
    <slot />
  </section>
</BaseLayout>
